.container{
    overflow-y: auto;
    background-image: url(../pictures/marqueeHome.jpg);
    width: 100%;
    height: calc(100% + 50px);
    position: fixed;
    resize: 'stretch';
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0% 0% 5% 0%;
    padding:0;
    box-sizing: padding-box;
    -moz-box-sizing: padding-box;
    -webkit-box-sizing: padding-box;
}